@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HP PC Upgrade Tool";
}

<section id="HPPCupgradetool" class="page-section hp-bg">
    <div class="container">
        <!--PC Upgrade Tool-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzE4JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
