@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HP Print Image CarePack";
}
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjgyJjExNzk1JnVz' });</script>
