@{  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "HPproducts";
}
<section id="HPproducts" class="page-section hp-bg">
    <div class="container">
        <!--HP Product Experience-->
        <div id="flix-minisite"></div>
        <div id="flix-inpage"></div>
        <script type="text/javascript" src="http://media.flixfacts.com/js/loader.js" data-flix-distributor="11795" data-flix-language="us" data-flix-mpn="" data-flix-ean="" data-flix-sku="" data-flix-button="flix-minisite" data-flix-inpage="flix-inpage" data-flix-button-image="" data-flix-fallback-language="en" data-flix-price=""></script>
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <!--Printer Finder-->
                <div class="white-bg margin-10">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script>
                    <div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NTQ0JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPprinters" class="page-section hp-bg">
    <div class="container">
        <!--HP Printers-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <!--Printer Finder-->
                <div class="white-bg margin-10">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NTQ0JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <!--Business Printer Upgrade Tool-->
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjYmMTE3OTUmZW4=' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPPCupgradetool" class="page-section hp-bg">
    <div class="container">
        <!--PC Upgrade Tool-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzE4JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPmobility" class="page-section hp-bg">
    <div class="container">
        <!--Mobility-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzQyJjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPK12Education" class="page-section hp-bg">
    <div class="container">
        <!--HP K12 Education-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzYwJjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPwindows10" class="page-section hp-bg">
    <div class="container">
        <!--Windows 10-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzIwJjExNzk1JmVu' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPeliteBookFamily" class="page-section hp-bg">
    <div class="container">
        <!--HP EliteBook Family-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI2JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPworkstationFamily" class="page-section hp-bg">
    <div class="container">
        <!--Workstation Family-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI1JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPofficeProFamily" class="page-section hp-bg">
    <div class="container">
        <!--HP Officejet Pro Family-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NDg4JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPofficeProFamily" class="page-section hp-bg">
    <div class="container">
        <!--HP Scanjet Scanners-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI0JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPoriginalHPsupplies" class="page-section hp-bg">
    <div class="container">
        <!--Original HP Supplies-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjE2JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPrintImageCarePack" class="page-section hp-bg">
    <div class="container">
        <!--HP Printing & Imaging Care Pack Services-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjgyJjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPenterpriseGroup" class="page-section hp-bg">
    <div class="container">
        <!--Enterprise Group Solutions-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzcwJjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPproFamily" class="page-section hp-bg">
    <div class="container">
        <!--Pro Family – Coming soon!-->
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInRight">
                <div class="white-bg">
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzU5JjExNzk1JnVz' });</script>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="HPimagePrintPromo" class="page-section hp-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" data-animation="fadeInLeft">
                <div class="white-bg">
                    <!--Imaging & Printing Promotion Placeholder-->
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                    <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                    <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzAmMTE3OTUmZW4=' });</script>
                </div>
            </div>
            </div>
        </div>
</section>