@{  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "HPsuppliesFinder";
}
<section id="HPproducts" class="page-section hp-bg">
    <div class="container">
        <!--HP Product Experience-->
        <div id="flix-minisite"></div>
        <div id="flix-inpage"></div>
        <script type="text/javascript" src="http://media.flixfacts.com/js/loader.js" data-flix-distributor="11795" data-flix-language="us" data-flix-mpn="" data-flix-ean="" data-flix-sku="" data-flix-button="flix-minisite" data-flix-inpage="flix-inpage" data-flix-button-image="" data-flix-fallback-language="en" data-flix-price=""></script>        
    </div>
</section>
<section id="HPsuppliesFinder" class="page-section hp-bg">
   <div class="container">
        <!--HP Printers-->
        <div class="row">
              <div class="col-sm-12" data-animation="fadeInRight">
                 <!-- Supplies Finder-->
                  <div class="white-bg margin-10">
                      <div id="flix-microsite"></div>
                      <script type="text/javascript" src="//media.flixsyndication.net/microsite/static/js/loader.js" data-flix-microsite="flix-microsite" data-flix-descriptor="NzIzJjExNzk1JnVz"> </script>
                  </div>
              </div>
          </div>        
    </div>
</section>
