@{
    ViewBag.Title = "ADVOTEK - Managed IT Services";
}
@section slider {

    <!--   <div class="content-wrapper">
           <hgroup class="title">
               <h1>@ViewBag.Title.</h1>
               <h2>@ViewBag.Message</h2>
           </hgroup>
          </div>-->


    <section class="slider" id="home">
        <div id="main-slider">
            <div id="owl-demo" class="owl-carousel custom-styles" data-effect="fade" data-singleitem="true" data-pagination="false" data-navigation="true">
                <div class="item">
                    <div class=""></div>
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1 bottom-margin-20">
                            <span class="text-color">Managed IT Services</span>
                        </h1>
                        <p class="bottom-margin-20">Computer Network Installation / Designed for Tomorrow</p>
                        <a class="btn btn-default animation animated-item-2" href="#">Read More</a>
                    </div>
                    <img src="img/sections/slider/swosh3.png" alt="Advotek - Managed IT Services" />
                </div>
                
                <div class="item">
                    <div class=""></div>
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            <span class="text-color">Business</span> Partners
                        </h1>
                        <p class="bottom-margin-20">Microsoft - Lenovo - HP - Apple - IBM - Lexmark - Samsung - Dell - LabTech - Brother</p>
                        <a class="btn btn-default animation animated-item-2 pull-right" href="#"></a>
                        <a class="btn btn-default animation animated-item-2 pull-right right-margin" href="#">Read More</a>
                    </div>
                    <img src="img/sections/slider/swosh-logos.png" alt="" />
                </div>
                <div class="item">
    <div class=""></div>
    <div class="carousel-caption">
        <h1 class="upper animation animated-item-1 text-right">
            <span class="text-color">Technology</span> Infrastructure
        </h1>
        <p class="text-right no-margin">For Future Growth of Chicago Public Schools</p>
        <p class="bottom-margin-20 text-right">And Small to Medium Business</p>
        <a class="btn btn-default animation animated-item-2" href="#">Read More</a>
    </div>
                    <img src="img/sections/slider/swosh4.png" alt="" />
</div>
            </div>
        </div>
    </section>
    <section id="HPproducts" class="page-section hp-bg">
        <div class="container">
            <!--HP Product Experience-->
            <div id="flix-minisite"></div>
            <div id="flix-inpage"></div>
            <script type="text/javascript" src="http://media.flixfacts.com/js/loader.js" data-flix-distributor="11795" data-flix-language="us" data-flix-mpn="" data-flix-ean="" data-flix-sku="" data-flix-button="flix-minisite" data-flix-inpage="flix-inpage" data-flix-button-image="" data-flix-fallback-language="en" data-flix-price=""></script>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <!--Printer Finder-->
                    <div class="white-bg margin-10">
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NTQ0JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 " data-animation="fadeInRight">
                    <!--Supplies Finder-->
                    <div class="white-bg margin-10">
                        <div id="flix-microsite"></div>
                        <script type="text/javascript" src="//media.flixsyndication.net/microsite/static/js/loader.js" data-flix-microsite="flix-microsite" data-flix-descriptor="NzIzJjExNzk1JnVz"> </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" data-animation="fadeInLeft">
                    <!--Business Printer Upgrade Tool-->
                    <div class="white-bg">
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjYmMTE3OTUmZW4=' });</script>
                    </div>
                </div>

                <div class="col-sm-6" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--PC Upgrade Tool-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzE4JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Mobility-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzQyJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--HP K12 Education-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzYwJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Helpdesk by HP Care Services-->
                        <div id="flix-microsite"></div>
                        <script type="text/javascript" src="//media.flixsyndication.net/microsite/static/js/loader.js" data-flix-microsite="flix-microsite" data-flix-descriptor="ODIxJjExNzk1JnVz"> </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Windows 10-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzIwJjExNzk1JmVu' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP EliteBook Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI2JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Workstation Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI1JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--HP Officejet Pro Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NDg4JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP Scanjet Scanners-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI0JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Original HP Supplies-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjE2JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP Printing & Imaging Care Pack Services-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjgyJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Enterprise Group Solutions-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzcwJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Pro Family – Coming soon!-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzU5JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Imaging & Printing Promotion Placeholder-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzAmMTE3OTUmZW4=' });</script>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <section id="about" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h1 class="title">About <span class="text-color">Advotek</span></h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- Text -->
                <p class="title-description">Advotek Inc. has been the business information technology source, support, and service choice of both small and medium businesses in Chicago since 1978. 
               Our reputation for integrity, agility, and expertise has lead to awarded contracts with Chicago Public Schools (CPS) for more than 20 years.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" data-animation="fadeInLeft">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-2.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">Remote Managed Systems</a>
                </h4>
                <p class="text-center"></p>
            </div>
            <div class="col-sm-4" data-animation="fadeInUp">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-1.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">A+ Certified</a>
                </h4>
                <p class="text-center"></p>
            </div>
            <div class="col-sm-4" data-animation="fadeInRight">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-3.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">WBE Certified</a>
                </h4>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
</section>
    <section id="services"></section>
    <section class="clients"></section>
    <section class="contact"></section>
}