@{
    ViewBag.Title = "ADVOTEK - Managed IT Services";
}
@section slider {

    <!--   <div class="content-wrapper">
           <hgroup class="title">
               <h1>@ViewBag.Title.</h1>
               <h2>@ViewBag.Message</h2>
           </hgroup>
          </div>-->


    <section class="slider" id="home">
        <div id="main-slider">
            <div id="owl-demo" class="owl-carousel custom-styles" data-effect="fade" data-singleitem="true" data-pagination="false" data-navigation="true">
                <div class="item">
                    <div class=""></div>
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1 bottom-margin-20">
                            Managed IT Services
                        </h1>
                        <h4 class="bottom-margin-20">Computer Network Installation / Designed for Tomorrow</h4>
                      <!-- <a class="btn btn-default animation animated-item-2" href="#">Read More</a>--> 
                    </div>
                    <img src="img/sections/slider/swosh3.png" alt="Advotek - Managed IT Services" />
                </div>
                
                <div class="item">
                    <div class=""></div>
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                           Business Partners
                        </h1>
                        <h4 class="bottom-margin-20"></h4>
                  <!--     <a class="btn btn-default animation animated-item-2 pull-right right-margin" href="#">Read More</a>--> 
                    </div>
                    <img src="img/sections/slider/swosh-logos.png" alt="" />
                </div>
                <div class="item">
                    <div class=""></div>
                    <div class="carousel-caption">
                        <h1 class="upper animation animated-item-1">
                            Technology Infrastructure
                        </h1>
                        <h4 class="no-margin color">For Future Growth of Chicago Public Schools</h4>
                        <h4 class="bottom-margin-20">And Small to Medium Business</h4>
                     <!--  <a class="btn btn-default animation animated-item-2" href="#">Read More</a>--> 
                    </div>
                    <img src="img/sections/slider/swosh4.png" alt="" />
                </div>
            </div>
        </div>
    </section>
    <section id="HPproducts" class="page-section hp-bg">
        <div class="container">
            <!--HP Product Experience-->
            <div id="flix-minisite"></div>
            <div id="flix-inpage"></div>
            <script type="text/javascript" src="http://media.flixfacts.com/js/loader.js" data-flix-distributor="11795" data-flix-language="us" data-flix-mpn="" data-flix-ean="" data-flix-sku="" data-flix-button="flix-minisite" data-flix-inpage="flix-inpage" data-flix-button-image="" data-flix-fallback-language="en" data-flix-price=""></script>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <!--Printer Finder-->
                    <div class="white-bg margin-10">
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NTQ0JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <!--Supplies Finder-->
                    <div class="white-bg margin-10">
                        <div id="flix-microsite"></div>
                        <script type="text/javascript" src="//media.flixsyndication.net/microsite/static/js/loader.js" data-flix-microsite="flix-microsite" data-flix-descriptor="NzIzJjExNzk1JnVz"> </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <!--Business Printer Upgrade Tool-->
                    <div class="white-bg">
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjYmMTE3OTUmZW4=' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--PC Upgrade Tool-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzE4JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Mobility-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzQyJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--HP K12 Education-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzYwJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Helpdesk by HP Care Services-->
                        <div id="flix-microsite"></div>
                        <script type="text/javascript" src="//media.flixsyndication.net/microsite/static/js/loader.js" data-flix-microsite="flix-microsite" data-flix-descriptor="ODIxJjExNzk1JnVz"> </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Windows 10-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzIwJjExNzk1JmVu' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP EliteBook Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI2JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Workstation Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI1JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--HP Officejet Pro Family-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NDg4JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP Scanjet Scanners-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzI0JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Original HP Supplies-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjE2JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--HP Printing & Imaging Care Pack Services-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NjgyJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Enterprise Group Solutions-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzcwJjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInRight">
                    <div class="white-bg">
                        <!--Pro Family – Coming soon!-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzU5JjExNzk1JnVz' });</script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" data-animation="fadeInLeft">
                    <div class="white-bg">
                        <!--Imaging & Printing Promotion Placeholder-->
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.js"></script>
                        <script type="text/javascript" src="//media.flixsyndication.net/js/jquery.sis.js"></script><div id="flixsis"></div>
                        <script type="text/javascript">$("#flixsis").SIS({ descriptor: 'NzAmMTE3OTUmZW4=' });</script>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <section id="about" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h1 class="title">About <span class="text-color">Advotek</span></h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="title-description">Advotek Inc. has been the business information technology source, support, and service choice of both small and medium businesses in Chicago since 1978. 
               Our reputation for integrity, agility, and expertise has lead to awarded contracts with Chicago Public Schools (CPS) for more than 20 years.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" data-animation="fadeInLeft">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-2.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">Remote Managed Systems</a>
                </h4>
                <p class="text-center"></p>
            </div>
            <div class="col-sm-4" data-animation="fadeInUp">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-1.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">A+ Certifications</a>
                </h4>
                <p class="text-center"></p>
            </div>
            <div class="col-sm-4" data-animation="fadeInRight">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-3.jpg" />
                </p>
                <h4 class="text-center bottom-margin-10">
                    <a class="black" href="#">WBE Certified</a>
                </h4>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30" data-animation="pulse">
                <img src="img/sections/about/280x440.jpg" width="280" height="440" alt="" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title">Why Choose Advotek</h2>
                </div>
                <!-- Our Story
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. porttitor consecteturadipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
                     --> 
                <div class="row responsive-features top-pad-20">
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5>Fast Turnaround</h5>
                        <p>Small company with years of relationship resources to suceed in short period of time</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5>Clients receive answers quickly</h5>
                        <p>We have expereinced knowledgeable contact staff to answer questions quickly</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5>Trained and Certified Technicians</h5>
                        <p>All technicians of are A+ certified and manufacturer warranty repair authorized</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5>Manufacturers Support</h5>
                        <p>Our years of loyalty with our manufacturers, benefits our clients when we need urgent and accurate support</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5>WBE Certified</h5>
                        <p>Cook County, WBENC, BEP, WOSB</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5>Flexability</h5>
                        <p>Our small, well trained staff meets the ever changing and demanding business needs of our clients - timely.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
    <section id="services" class="page-section light-bg border-tb">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <!-- Heading -->
            <h2 class="title">Advotek Services and Expertise</h2>
        </div>
        <div class="row">
            <div class="item-box col-sm-6 col-md-4 lr-pad-30" data-animation="fadeInLeft">
                <h5 class="title">Computer system rollout – provision image deploy</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
                <h5 class="title">Relocating computer equipment and set up at designated location(s)</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
                <h5 class="title">Asset Management</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Project Management Implementation</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Custom hardware configuration</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Build and deploy client requested image</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Network configuration, installation and support</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Computer system upgrades (hardware and software)</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Managed Services</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Printer repair and preventative maintenance</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Desktop/laptop repair and preventative maintenance</h5>
            </div>
            <div class="item-box icons-color col-sm-6 col-md-4" data-animation="fadeInLeft">
                <h5 class="title">Authorized warranty service repair center for HP, Lenovo, Brother, Lexmark, and some warranty for Dell</h5>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
    <section class="clients"></section>
    <section id="contact-us" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div>
                            <h5 class="title"><i class="icon-map-pin text-color"></i> Address</h5>
                            Advotek, Incorporated
                            777 Oakmont Lane, Suite 50<br>
                            Westmont, IL 60559<br>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5 class="title"><i class="icon-phone10 text-color"></i> Phone</h5>
                        <div>630.964.7762</div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5 class="title"><i class="icon-envelope7 text-color"></i> Email Addresses</h5>
                        <div>paula@advotek.biz</div>
                     </div>
                </div>
                <hr>
                   </div>
            <div class="col-md-6 col-md-4">
                <!--  <h3 class="title">Contact Form</h3>
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form">
                   Form Begins 
                    <form role="form" name="contactform" id="contactform" method="post" action="php/contact-form.php">

                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                       <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div>

                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>

                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="2"></textarea>
                        </div>

                        <button class="btn btn-default" type="submit">Send Now <i class="icon-paper-plane"></i></button>
                </div>
                </form>-->

            </div>
        </div>
    </div>
</section>
}