@{
    ViewBag.Title = "ADVOTEK | OPTIMIZING TODAY'S TECHNOLOGY";
}
@section slider {
<section class="slider">
    <div class="tp-banner">
        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <div class="tp-caption tp-resizeme lfb" data-x="0" data-y="65" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                        <img src="img/sections/slider/slide-img-1.png" width="500" height="600" alt="" />
                    </div>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title bold transparent-half-white text-blue" data-x="502" data-y="161" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>
                            ADVOTEK
                        </strong>
                    </h2>
                    <h2 class="tp-caption tp-resizeme lft skewtotop transparent-half-white title" data-x="502" data-y="300" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>Optimizing Today's Technology</strong>
                    </h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description transparent-half-white black" data-x="502" data-y="385" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h5>Advotek provides clients with efficient, cost-effective technology solutions, today - and the flexibility of managed services that embrace quick implementation of technology, expertise, and compliance for tomorrow.  </h5>
                    </div>
                  <a href="~/Index#services" class="tp-caption tp-resizeme lfb btn btn-transparent-color" data-x="502" data-y="480" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Learn more</a>
                </div>
                <img src="img/sections/slider/swosh4.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide 2 -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <h2 class="tp-caption tp-resizeme sft skewtotop title bold transparent-half-white text-blue" data-x="290" data-y="151" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">clients We Serve</h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description text-center transparent-half-white" data-x="290" data-y="250" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h5>Start-up to established businesses | CPS - school districts | Government agencies | non-profit </h5>
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="350" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="300" data-y="410" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-school.png" width="200" height="200" alt="Advotek- CPS and School District clients" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="560" data-y="270" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="500" data-y="300" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-business.png" width="200" height="200" alt="Advotek - business clients" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="725" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="737" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-government.png" width="200" height="200" alt="Advotek - Government and non-profit clients" />
                    </div>
                    <a href="~/Index#edu-prime" class="tp-caption tp-resizeme lfb btn btn-transparent-color" data-x="290" data-y="330" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Learn more</a>
                </div>
                <img src="img/sections/slider/swosh4.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide 3 -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                <div class="elements">
                    <h3 class="tp-caption tp-resizeme sft skewtotop title transparent-half-white bold" data-x="150" data-y="90" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Taking Care of Schools</h3>
                    <div class="tp-caption tp-resizeme lfl skewtoleft description transparent-half-white col-xs-5" data-x="150" data-y="165" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 700px;">
                        <h5>We are proud to have been a Technology Support Prime Contactor for approximately 300 Chicago Public Schools (CPS).</h5>
                    </div>
                    <a href="~/Index#edu-prime" class="btn btn-transparent-color tp-caption tp-resizeme customin" data-x="150" data-y="255" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Learn more</a>
                    <div class="tp-caption tp-resizeme lfb skewtobottom customin" data-x="730" data-hoffset="150" data-y="170" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3">
                        <img src="img/sections/slider/rs-slider2-img.png" width="500" height="315" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="1000" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-1.jpg" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-1.jpg" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-1.jpg" width="372" height="232" alt="" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="14000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-1.jpg" width="372" height="232" alt="" />
                    </div>
                </div>
                <img src="img/clients/laneTechComputers.jpg" alt="High School Library with computers" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide 4 -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
             <!--   <div class="elements">
                       <h2 class="tp-caption tp-resizeme sft skewtotop title bold" data-x="15" data-y="191" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Different Variations</h2>
                        <div class="tp-caption tp-resizeme lfl skewtoleft description col-xs-5" data-x="0" data-y="285" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 520px;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam dolore magna aliqua ut enim ad minim veniam.</p>
                        </div>
                        <a href="#" class="btn btn-default tp-caption tp-resizeme customin" data-x="15" data-y="442" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Read more</a>
                        <div class="tp-caption tp-resizeme lfb skewtobottom customin" data-x="730" data-hoffset="150" data-y="170" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3">
                            <img src="img/sections/slider/rs-slider2-img.png" width="500" height="315" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="1000" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-one.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-two.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-three.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="14000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-four.png" width="372" height="232" alt="" />
                        </div>
                </div>-->
                <img src="img/sections/slider/swosh-logos.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
    
    }
    
<section id="about" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h1 class="title text-blue">Our Story</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="title-description text-color">Advotek Inc. has been the business information technology source, support, and service choice of both small and medium businesses in Chicago since 1978.
                        Our reputation for integrity, agility, and expertise has lead to awarded contracts with Chicago Public Schools (CPS) for more than 20 years.
                    </p>
                  </div>
                <div class="col-md-6">
                    <p class="title-description text-color"> Our sales philosophy is simple - Provide our customers with the most cost-effective solution available, throughout the lifetime of their computer investment. Our technical and sales professionals will ensure that the right solution for the required task is properly selected, configured, installed, networked, and serviced.
                </div>
            </div>                   
        </div>
        <div class="row">
            <div class="col-sm-4" data-animation="fadeInLeft">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-7.jpg" />
                </p>
                <h4 class="text-center text-blue">
                    Remote Managed Systems</h4>
                <p class="text-center">Small Businesses and budget-guarded school districts are requesting managed services to ensure efficiency and accountability, while reducing costs and minimizing risks.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInUp">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-8.jpg" />
                </p>
                <h4 class="text-center text-blue">
                    A+ Certifications</h4>
                <p class="text-center">Our technicians are A+ Certified thru Comptia. They bring over 37 years of experience with manufacturer's products and knowledge of client's unique technical solutions.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInRight">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-9.jpg" />
                </p>
                <h4 class="text-center text-blue">WBE Certified</h4>
                <p class="text-center">Diana Conley, owner of Advotek Incorporated, offers clients the benefit of compliance through our WBE accreditation and from the years of experienced sales, support and technical staff. </p>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img src="img/sections/about/advotekOffice-1.jpg" width="280" height="440" alt="" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-blue">Why Choose Advotek</h2>
                </div>
                <p class="title-description text-color">Advotek, formerly known as ComputerLand Downers Grove, has been in business since 1978. Advotek is a multi-million dollar information technology consulting company that sells and services computer automataion for businesses, government, non-for-profit agencies, and schools in the Chicagoland area.<br />
                        Our expertise is in making recommendations for office automation, and supporting that process. We help our customer employ technology to make their business more competitive, profitable and effective.
               </p>
                <div class="row responsive-features">
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5 class="text-blue">Fast Turnaround</h5>
                        <p>Advotek is a small company, with close to 40 years of relationship resources. That bond has given growth to Advotek's reputation as a "personal IT solution consultant"  for our clients over the years. </p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5 class ="text-blue">Prompt Answers</h5>
                        <p>An experienced, knowledgeable contact staff answers contact-calls quickly.</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5 class="text-blue">Trained and Certified Technicians</h5>
                        <p>All technicians are A+ certified and manufacturer warranty repair authorized.</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5 class="text-blue">Manufacturers Support</h5>
                        <p>Our years of loyalty with our manufacturers, benefits our clients when we need urgent and accurate support.</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5 class="text-blue">WBE Certified</h5>
                        <p>Womens' Business Enterprise for Cook County, WBENC, BEP, WOSB.</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5 class="text-blue">Flexability</h5>
                        <p>Both technology and business goals are ever changing. Working within budget and IT best practices, our staff builds solutions for ready for tomorrow.</p>
                    </div>
                </div>
            </div>
        </div>
       <div class="clearfix"></div>
    </div>
</section>
<section id="services" class="page-section">
    <div class="image-bg content-in fixed" data-background="img/clients/laneTechLab.jpg">
        <div class="overlay-color"></div>
    </div>
    <div class="container">
   
            <div class="section-title" data-animation="fadeInLeft">
                <h2 class="title white">Advotek Services and Expertise</h2>
                <div class="row pad-20 text-white">
                    <div class="item-box col-sm-4 hp-bg" data-animation="fadeInLeft">
                        <p>
                            Advotek's expereinced technical staff has been the total technical source for staging, configuration, deployment and imaging of IT services for our clients.
                    </div>
                    <div class="item-box col-sm-4 color-bg" data-animation="fadeInUp">
                        <p>
                            Small Business companies value Advotek for Computer Network Services, Technology Moves, and Hardware Sales. Our Warranty Authorized Technicians provide Break/Fix services.
                        </p>
                    </div>
                    <div class="item-box col-sm-4 hp-bg" data-animation="fadeInRight">
                        <p>
                            Managed IT Services, Deskside Support, and Project Management allow companies to focus their business, while Advotek secures their technology.
                        </p>
                    </div>
                </div>               
                <div class="row pad-20 text-white">
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">Computer system rollout</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
                        <h5 class="title">Provision image deployment</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInRight">
                        <h5 class="title">Relocating computer equipment</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInRight">
    <h5 class="title">
        Managed Services - System location, system status, serial numbers
    </h5>
</div>
<div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
    <h5 class="title">
        Managed Services - List of software on systems accurately documented
    </h5>
</div>
<div class="item-box col-sm-6 col-md-4" data-animation="fadeInRight">
    <h5 class="title">
        Managed Services - Proactively and securely update, backup, and manage all of our clients' computers and servers.
    </h5>
</div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInRight">
                        <h5 class="title">Network configuration, installation</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
                        <h5 class="title">Asset Management</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">Project Management Implementation</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInRight">
                        <h5 class="title">Custom hardware configuration</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInUp">
                        <h5 class="title">Build / deploy client requested image</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">Printer repair / maintenance</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">Desktop/laptop repair & maintenance</h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">
                            Authorized warranty service repair center -
                            HP, Lenovo, Brother, Lexmark, and some warranty for Dell
                        </h5>
                    </div>
                    <div class="item-box col-sm-6 col-md-4" data-animation="fadeInLeft">
                        <h5 class="title">Computer system upgrades - Hardware and Software and Warehousing</h5>
                    </div>
                    
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section id="edu-prime" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Education - Prime Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="~/HPK12Education" class="black"><img src="~/img/hp-logo-1.png" />HP K12 Education</a>
                    

                </div>
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-27.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Laptops</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract with Chicago Public Schools (CPS) for 5 years to sell, custom configure, install and warranty repair  HP, Acer and IBM laptops.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-29.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">FSS Vendor </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract for technology support in approximately 200 schools, including break/fix for the past 9 years.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-23.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Brooks Project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installing Virtual Box on Apple laptops for certification training in a Windows environment.  Insuring students can sign in with their own accounts rather than generic accounts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-07.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">E-Rate server roll out</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sold, configured and installed E-Rate servers with installation at multiple locations. Reported all documentation and forms required by USAC.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-30.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Servers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Held two 5 year contracts for HP and Dell server sales and installation.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="edu-sub" class="page-section light-bg">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Education - Sub Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image  black-bg">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-22.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Distribution server </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Rolled out 600 distribution servers at 600 locations, removed old servers and stored them at our location within 7 weeks.  Finished the project two weeks ahead of schedule and under our internal budget.  Completed all required documentation on a daily basis using Google Docs.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-09.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Security Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Configure and install in rack up to four security servers in CPS schools, worked with other vendors on timing for this project.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-26.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Dell CPS Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installer of Dell servers in over 500 possible locations.  Receive equipment at our location and prep/config per end user before we deliver and install.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-06.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">School moves</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Coordinated with Project Manager to move computer equipment either to another location or to a designated warehouse.  Did asset management on all equipment and reported back in requested format.</p>   
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-24.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Ricoh Printers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installed and configured Ricoh Printers at 500 possible locations.</p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-13.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">City Colleges </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sub contract for support services to their Technology Department at 6 of the City Colleges.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-28.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Asset Management </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Inventoried entire school's technology assets to meet 100% compliance.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="bus-clients" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img src="img/clients/client-17.jpg" width="280" height="280" alt="" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-blue">Case Study - PEB project</h2>
                    <h5 class="text-blue">Advotek Optimized Today's Technology ....</h5>
                    <p>A small staffed financial business client required Advotek's technical expertise to install the best of today's IT hardware and software, and be flexible enough to stay current with technologies changes for the future. </p>
                </div>
                <div>
                    <p>Our solution:</p>
                    <ul class="list-style">
                        <li>
                            Configure static IP on network card and on ILO at the high range of network.
                        </li>
                        <li>Promote server to a domain controller and establish the PEB.local domain.</li>
                        <li>Create user accounts for the seven office employees.</li>
                        <li>Install LabTech agent for PEB on server.</li>
                        <li>Create administrative account for Advotek remote access.</li>
                        <li>Upgrade existing machines to Windows 7 Professional.</li>
                        <li>Join existing machines to domain.</li>
                        <li>Create existing share structure from Sue's machine to server.</li>
                        <li>Create appropriate security groups for access rights.</li>
                        <li>Configure the network scanner to scan to a shared folder on the server.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="clearfix"></div>-->
    </div>

    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Small to Medium Business</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-15.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">LISC </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Advotek built and deployed master images with custom recovery partitions for a 1,400 netbook

                                    and desktop rollout.  By leveraging public domain and open source software, in addition to applications

                                    developed internally, Advotek was able to save the end company from purchasing $100,000 in licenses

                                    for cloning software that performed the same functions.  Created a custom database per client request.
                                </p>
                            </div>
                        </div>
                    </li>                    
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-10.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Service provider for companies that are not local but need local support </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lulu Lemon and ASAP have prime service contracts in multiple states. They utilize Advotek’s services for this area.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-08.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Manufacturer of parts and equipment for the metal fabricating industry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sold equipment, installed customer software and hardware, tested systems on a stimulator delivered to end user.  They shipped all over the world with their equipment.  We were their help desk for hardware problems.</p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-11.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Manufacturer for the life science industry </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Special configured hardware, warehoused and shipped per their schedule. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-26.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Servers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Held two 5 year contracts for HP and Dell server sales and installation.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-18.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">ACER Project </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ask to take over existing contract to replace system boards with bad capacitors because they could not fulfill in timely manner.</p>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="page-section hp-bg text-white">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-white">Contact</h2>
        </div>
        <img class="img-responsive img-center" src="~/img/clients/advotekOffice.jpg" />
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-20">
                        <div>
                            <h5 class="title"><i class="fa fa-map-marker"></i> Address</h5>
                            Advotek, Incorporated<br />
                            777 Oakmont Lane, Suite 50<br>
                            Westmont, IL 60559
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 margin-20">
                        <h5 class="title"><i class="fa fa-phone"></i> Phone</h5>
                        <a href="tel:6309647762">630.964.7762</a>
                        fax: 630.964.7858
                    </div>
                    <div class="col-sm-6 col-md-4 margin-20">
                        <h5 class="title"><i class="fa fa-envelope"></i> Email Address</h5>
                        <a href="mailto:zack@advotek.biz">contact@advotek.biz</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-4">
                <!--  <h3 class="title">Contact Form</h3>
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form">
                   Form Begins
                    <form role="form" name="contactform" id="contactform" method="post" action="php/contact-form.php">

                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                       <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div>

                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>

                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="2"></textarea>
                        </div>

                        <button class="btn btn-default" type="submit">Send Now <i class="icon-paper-plane"></i></button>
                </div>
                </form>-->

            </div>
        </div>
    </div>
</section>

    

