@{
    ViewBag.Title = "ADVOTEK - Managed IT Services";
}
@section slider {
<section class="slider">
    <div class="tp-banner">
        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <div class="tp-caption tp-resizeme lfb" data-x="0" data-y="65" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                        <img src="img/sections/slider/slide-img-1.png" width="500" height="600" alt="" />
                    </div>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title bold text-blue" data-x="502" data-y="161" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>
                            ADVOTEK
                        </strong>
                    </h2>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title" data-x="502" data-y="321" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>Optimizing Today's Technology</strong>
                    </h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description black" data-x="502" data-y="385" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h6>Advotek provides clients with efficient, cost-effective technology solutions, today - and the flexibility of managed services that embrace quick implementation of technology, expertise, and compliance for tomorrow.  </h6>
                    </div>
                 <!--   <a href="#" class="tp-caption tp-resizeme lfb btn btn-default" data-x="502" data-y="472" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Read more</a>
              -->  </div>
                <img src="img/sections/slider/swosh4.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <h2 class="tp-caption tp-resizeme sft skewtotop title bold text-blue" data-x="240" data-y="151" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">clients We Serve</h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description text-center" data-x="290" data-y="250" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h6>Start-up to established businesses - CPS -school districts - Government agencies - non-profit </h6>
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="350" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="337" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/schools.png" width="111" height="111" alt="" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="560" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="537" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/business.png" width="111" height="111" alt="" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="725" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="737" data-y="418" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/gov.png" width="111" height="111" alt="" />
                    </div>
                </div>
                <img src="img/sections/slider/swosh4.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
            <li data-delay="10300" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                <div class="elements">
                    <!--   <h2 class="tp-caption tp-resizeme sft skewtotop title bold" data-x="15" data-y="191" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Different Variations</h2>
                        <div class="tp-caption tp-resizeme lfl skewtoleft description col-xs-5" data-x="0" data-y="285" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 520px;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam dolore magna aliqua ut enim ad minim veniam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim veniam sed do usmod tempor incididunt ut labore et dolore.</p>
                        </div>
                        <a href="#" class="btn btn-default tp-caption tp-resizeme customin" data-x="15" data-y="442" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Read more</a>
                        <div class="tp-caption tp-resizeme lfb skewtobottom customin" data-x="730" data-hoffset="150" data-y="170" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3">
                            <img src="img/sections/slider/rs-slider2-img.png" width="500" height="315" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="1000" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-one.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-two.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-three.png" width="372" height="232" alt="" />
                        </div>
                        <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="14000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                            <img src="img/sections/slider/rs-slider2-four.png" width="372" height="232" alt="" />
                        </div>-->
                </div>
                <img src="img/sections/slider/swosh-logos.png" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide -->
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
    
    }
    
<section id="about" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h1 class="title text-color">Our Story</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="title-description text-color">Advotek Inc. has been the business information technology source, support, and service choice of both small and medium businesses in Chicago since 1978.
                        Our reputation for integrity, agility, and expertise has lead to awarded contracts with Chicago Public Schools (CPS) for more than 20 years.
                    </p>
                  </div>
                <div class="col-md-6">
                    <p class="title-description text-color"> Our sales philosophy is simple - Provide our customers with the most cost-effective solution available, throughout the lifetime of their computer investment. Our technical and sales professionals will ensure that the right solution for the required task is properly selected, configured, installed, networked, and serviced.
                </div>
            </div>                   
        </div>
        <div class="row">
            <div class="col-sm-4" data-animation="fadeInLeft">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-7.jpg" />
                </p>
                <h4 class="text-center">
                    Remote Managed Systems
                </h4>
                <p class="text-center">Small Businesses and budget-guarded school districts are requesting managed services to ensure efficiency and accountability, while reducing costs and minimizing risks.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInUp">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-8.jpg" />
                </p>
                <h4 class="text-center">A+ Certifications
                </h4>
                <p class="text-center">Our technicians are A+ Certified thru Comptia. They bring over 37 years of experience with manufacturer's products and knowledge of client's unique technical solutions.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInRight">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="" src="img/sections/about/about-9.jpg" />
                </p>
                <h4 class="text-center">WBE Certified
                </h4>
                <p class="text-center">Diana Conley, owner of Advotek Incorporated, offers clients the benefit of compliance through our WBE accreditation and from the years of experienced sales, support and technical staff. </p>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img src="img/sections/about/advotekOffice-1.jpg" width="280" height="440" alt="" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-color">Why Choose Advotek</h2>
                </div>
                <p class="title-description text-color">Advotek, formerly known as ComputerLand Downers Grove, has been in business since 1978. Advotek is a multi-million dollar information technology consulting company that sells and services computer automataion for businesses, government, non-for-profit agencies, and schools in the Chicagoland area.<br />
                        Our expertise is in making recommendations for office automation, and supporting that process. We help our customer employ technology to make their business more competitive, profitable and effective.
               </p>
                <div class="row responsive-features">
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5 class="text-color">Fast Turnaround</h5>
                        <p>Small company with years of relationship resources to suceed in short period of time</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5 class ="text-color">Clients receive answers quickly</h5>
                        <p>We have expereinced knowledgeable contact staff to answer questions quickly</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5 class="text-color">Trained and Certified Technicians</h5>
                        <p>All technicians are A+ certified and manufacturer warranty repair authorized</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <h5 class="text-color">Manufacturers Support</h5>
                        <p>Our years of loyalty with our manufacturers, benefits our clients when we need urgent and accurate support</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <h5 class="text-color">WBE Certified</h5>
                        <p>Cook County, WBENC, BEP, WOSB</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInRight">
                        <h5 class="text-color">Flexability</h5>
                        <p>Our well trained staff meets the ever changing and demanding business needs of our clients - timely.</p>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="clearfix"></div>-->
    </div>
</section>
<section id="services" class="page-section color-bg border-tb">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-white">Advotek Services and Expertise</h2>
        </div>
        <div class="row pad-20 text-white white-bg">
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Computer system rollout</h5>
                <p>Provision image deployment</p>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInUp">
                <h5 class="title">Relocating computer equipment</h5>
                <p>Set up at designated locations</p>
             </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Network configuration, installation</h5>
                <p>Support</p>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInUp">
                <h5 class="title">Asset Management</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Project Management Implementation</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInLeft">
                <h5 class="title">Custom hardware configuration</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Build and deploy client requested image</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInLeft">
                <h5 class="title">Printer repair and preventative maintenance</h5>
            </div>
            
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Desktop/laptop repair and preventative maintenance</h5>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInLeft">
                <h5 class="title">Managed Services</h5>
                <p>System location, system status, serial numbers, list of software on systems all accurately documented, allows Advotek to proactively and securely update, backup, and manage all of our clients' computers and servers.</p>
            </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 color-bg" data-animation="fadeInLeft">
                <h5 class="title">Authorized warranty service repair center</h5>
                <p>HP, Lenovo, Brother, Lexmark, and some warranty for Dell</p>
             </div>
            <div class="item-box col-sm-6 col-md-4 pad-30 hp-bg" data-animation="fadeInLeft">
                <h5 class="title">Computer system upgrades</h5>
                <p>Hardware and Software and Warehousing</p>
            </div>           
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<section id="clients" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title">Education - Prime Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-02.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Laptops</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract with Chicago Public Schools (CPS) for 5 years to sell, custom configure, install and warranty repair  HP, Acer and IBM laptops.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-05.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">FSS Vendor </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract for technology support in approximately 200 schools, including break/fix for the past 9 years.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-01.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Brooks Project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installing Virtual Box on Apple laptops for certification training in a Windows environment.  Insuring students can sign in with their own accounts rather than generic accounts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-06.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">E-Rate server roll out</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sold, configured and installed E-Rate servers with installation at multiple locations. Reported all documentation and forms required by USAC.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-03.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Servers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Held two 5 year contracts for HP and Dell server sales and installation.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="additional-clients" class="page-section light-bg">
    <div class="container">
        <div clss="section-title" data-animation="fadeInLeft">
            <h2 class="title">Education - Sub Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image  black-bg">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-08.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Distribution server </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Rolled out 600 distribution servers at 600 locations, removed old servers and stored at our location within 7 weeks.  Finished project two weeks ahead of schedule and under our internal budget.  Completed all required documentation on a daily basis in Google docs.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-13.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Security Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Configure and install in rack up to four security servers in CPS schools, worked with other vendors on timing for this project.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-09.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Dell CPS Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installer of Dell servers in over 500 possible locations.  Receive equipment at our location and prep/config per end user before we deliver and install.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-17.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">School moves</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Coordinated with Project Manager to move computer equipment either to another location or to a designated warehouse.  Did asset management on all equipment and reported back in requested format.</p>   
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-06.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Ricoh Printers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installed and configured Ricoh Printers at 500 possible locations.</p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-13.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">City Colleges </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sub contract for support services to their Technology Department at 6 of the City Colleges.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-19.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Asset Management </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Inventoried entire school's technology assets to meet 100% compliance.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="business-clients" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title">Small to Medium Business</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-18.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">ACER Project </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ask to take over existing contract to replace system boards with bad capacitors because they could not fulfill in timely manner.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-14.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Service provider for companies that are not local but need local support </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lulu Lemon and ASAP have prime service contracts in multiple states. They utilize Advotek’s services for this area.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-04.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Lockformer</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sold equipment, installed customer software and hardware, tested systems on a stimulator delivered to end user.  They shipped all over the world with their equipment.  We were their help desk for hardware problems.</p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-15.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Packard Instruments </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Special configured hardware, warehoused and shipped per their schedule. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="img/clients/client-19.jpg" alt="" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Servers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Held two 5 year contracts for HP and Dell server sales and installation./p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="page-section hp-bg text-white">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title">Contact</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-md-4 margin-20">
                        <div>
                            <h5 class="title"><i class="icon-map-pin icons-bg-color"></i> Address</h5>
                            Advotek, Incorporated
                            777 Oakmont Lane, Suite 50<br>sho
                            Westmont, IL 60559<br>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 margin-20">
                        <h5 class="title"><i class="icon-phone10 text-white"></i> Phone</h5>
                        <a href="tel:6309647762">630.964.7762</a>
                    </div>
                    <div class="col-sm-6 col-md-4 margin-20">
                        <h5 class="title"><i class="icon-envelope7 text-white"></i> Email Addresses</h5>
                        <a href="mailto:zack@advotek.biz">zack@advotek.biz</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-6 col-md-4">
                <!--  <h3 class="title">Contact Form</h3>
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form">
                   Form Begins
                    <form role="form" name="contactform" id="contactform" method="post" action="php/contact-form.php">

                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                       <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div>

                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>

                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="2"></textarea>
                        </div>

                        <button class="btn btn-default" type="submit">Send Now <i class="icon-paper-plane"></i></button>
                </div>
                </form>-->

            </div>
        </div>
    </div>
</section>

    

