@{
    ViewBag.Title = "ADVOTEK | Technology Services and Solutions";
}
@section slider {
<section class="slider" id="home">
    <div class="tp-banner">
        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <div class="tp-caption tp-resizeme lfb" data-x="0" data-y="65" data-speed="1000" data-start="2040" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 4">
                        <img src="img/sections/slider/slide-img-1.png" width="500" height="600" alt="start-up business workers meeting in a loft space" />
                    </div>
                    <h2 class="tp-caption tp-resizeme lft skewtotop title bold transparent-half-white text-blue" data-x="502" data-y="161" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong>
                            ADVOTEK
                        </strong>
                    </h2>
                    <h2 class="tp-caption tp-resizeme lft skewtotop transparent-half-white title text-blue" data-x="502" data-y="260" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                        <strong> Optimizing Today's Technology </strong>
                    </h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description transparent-half-white black" data-x="502" data-y="350" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h4>Deploying flexible solutions and services to meet our client's business goals.</h4>
                    </div>
                  <a href="~/Index#services" class="tp-caption tp-resizeme lfb btn btn-transparent-color" data-x="502" data-y="470" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Learn more</a>
                </div>
                <img src="img/sections/slider/swosh1.png" alt="ariel view of Chicago" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide 2 -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <div class="elements">
                    <h2 class="tp-caption tp-resizeme sft skewtotop title bold transparent-half-white text-blue" data-x="290" data-y="151" data-speed="1000" data-start="500" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">clients We Serve</h2>
                    <div class="tp-caption tp-resizeme lfr skewtoright description text-center transparent-half-white" data-x="290" data-y="250" data-speed="1000" data-start="800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                        <h4>From Start-ups to established businesses <br />school districts | Government agencies | Non-profit </h4>
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="350" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="300" data-y="410" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-school.png" width="200" height="200" alt="Advotek- CPS and School District clients" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="560" data-y="270" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="500" data-y="300" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-business.png" width="200" height="200" alt="Advotek - business clients" />
                    </div>
                    <h4 class="tp-caption tp-resizeme customin customout" data-x="725" data-y="360" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5"></h4>
                    <div class="tp-caption tp-resizeme customin customout" data-x="737" data-y="380" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
                        <img src="img/sections/slider/advotek-government.png" width="200" height="200" alt="Advotek - Government and non-profit clients" />
                    </div>
                    <a href="~/Index#edu-prime" class="tp-caption tp-resizeme lfb btn btn-transparent-color" data-x="290" data-y="355" data-speed="1000" data-start="1700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">Learn more</a>
                </div>
                <img src="img/sections/slider/swosh4.png" alt="Advotek swoosh symbol" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>
            <!-- Slide 3 -->
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000" class="slid2">
                <div class="elements">
                    <h3 class="tp-caption tp-resizeme sft skewtotop title transparent-half-white bold" data-x="150" data-y="90" data-speed="1000" data-start="1100" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn">Taking Care of Schools</h3>
                    <div class="tp-caption tp-resizeme lfl skewtoleft description transparent-half-white col-xs-5" data-x="150" data-y="165" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Power1.easeIn" style="max-width: 700px;">
                        <h4>We are proud to have been a Technology Support Prime Contactor for 300+ Chicago Public Schools</h4>
                    </div>
                    <a href="~/Index#edu-prime" class="btn btn-transparent-color tp-caption tp-resizeme customin" data-x="190" data-y="270" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1200" data-start="1000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">Learn more</a>
                    <div class="tp-caption tp-resizeme lfb skewtobottom customin" data-x="730" data-hoffset="140" data-y="170" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1000" data-easing="Power4.easeOut" data-end="14000" data-endspeed="500" data-endeasing="Power1.easeIn" style="z-index: 3">
                        <img src="img/sections/slider/rs-slider2-img.png" width="500" height="315" alt="managed services screen" />
                    </div>
                    <div class="tp-caption tp-resizeme customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="1000" data-easing="Power0.easeOut" data-end="3800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-1.jpg" width="372" height="232" alt="LABTECH" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="3800" data-easing="Power0.easeOut" data-end="5300" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-2.jpg" width="372" height="232" alt="IBM APPLE MICROSOFT" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="5300" data-easing="Power0.easeOut" data-end="6800" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-3.jpg" width="372" height="232" alt="HP BUSINESS PARTNERS" />
                    </div>
                    <div class="tp-caption tp-resizeme customin customout" data-x="795" data-hoffset="-208" data-y="205" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1" data-start="6800" data-easing="Power0.easeOut" data-end="14000" data-endspeed="1" data-endeasing="Power0.easeIn" data-captionhidden="on" style="z-index: 4">
                        <img src="img/sections/slider/screen-slider-4.jpg" width="372" height="232" alt="SANSUNG BROTHER LEXMARK" />
                    </div>
                </div>
                <img src="img/clients/laneTechComputers.jpg" alt="High School Library with computers" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />
            </li>                        
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
    
    }
    
<section id="about" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h1 class="title text-blue">Our Story</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="title-description text-color">Advotek Inc. has been the business information technology source, support, and service choice of both small and medium businesses in Chicago since 1978.
                        Our reputation for integrity, agility, and expertise has awarded Advotek contracts with Chicago Public Schools (CPS) for more than 20 years.
                    </p>
                  </div>
                <div class="col-md-6">
                    <p class="title-description text-color">Our sales philosophy is simple - Provide our Small Business clients with the technology that is aligned to run and grow their business today, and evolve with the ever-changing technology of tomorrow.
                    </p>
                </div>
            </div>                   
        </div>
        <div class="row">
            <div class="col-sm-4" data-animation="fadeInLeft">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="IT Technology Provider" src="img/sections/about/about-7.jpg" />
                </p>
                <h4 class="text-center text-blue">
                    IT Technology Provider</h4>
                <p class="text-center">Advotek provides total technology consulting, sales, support and installation to small businesses and school districts. We manage their entire technology infrastructure, while clients focus on their business plans.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInUp">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="Certifications" src="img/sections/about/about-8.jpg" />
                </p>
                <h4 class="text-center text-blue">
                    Certified Technicians</h4>
                <p class="text-center">Our technicians are A+ Certified. They bring over 37 years of relationships and experience with manufacturer's products. Clients benefit from our accurate "break/fix" repairs.</p>
            </div>
            <div class="col-sm-4" data-animation="fadeInRight">
                <p class="text-center opacity">
                    <img width="370" height="185" alt="WBE Certified" src="img/sections/about/about-9.jpg" />
                </p>
                <h4 class="text-center text-blue">WBE Certified</h4>
                <p class="text-center">Diana Conley, owner of Advotek Incorporated, offers clients the benefit of compliance through our WBE accreditation and from the years of experienced sales, support and technical staff. </p>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img src="img/sections/about/advotekOffice-1.jpg" width="280" height="440" alt="Advotek Office Building Location" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-blue">Why Choose Advotek</h2>
                </div>
                <p class="title-description text-color">Advotek has been in business since 1978. Advotek is a multi-million dollar technology consulting company that sells and services technology infrastructure solutions for businesses, government, non-for-profit agencies, and schools in the Chicagoland area.<br />
                        Our expertise is in making recommendations for today's office networks, and supporting that process. We help our clients align their technology to meet and exceed their business goals.
               </p>
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-blue">Clients Choice</h2>
                </div>
                <div class="row responsive-features">
                    <div class="col-sm-6" data-animation="fadeInLeft">
                        <h5 class="text-blue">40 Years of relationships</h5>
                        <p>Advotek is a small company, with close to 40 years of relationship resources. We have a respectful relationship with our industry-leading technology manufacturers and repeat clients. That bond has given growth to Advotek's reputation as a "Personal IT Solution Consultant"  for our clients over the years. 
                        </p>
                     </div>
                    <div class="col-sm-6" data-animation="fadeInUp">
                        <h5 class ="text-blue">Prompt Answers</h5>
                        <p>Our loyal staff has grown with Advotek over the years. They personally respond to contact-calls, resourcing answers quickly.</p>                  
                     </div>         
                    <div class="col-sm-6" data-animation="fadeInLeft">
                        <h5 class="text-blue">Manufacturers Support</h5>
                        <p>Our years of loyalty with our manufacturers, benefits our clients when we need urgent and accurate support.</p>
                     </div>
                    </div>
                <div class="row responsive-features">
                    <div class="col-sm-6" data-animation="fadeInUp">
                        <h5 class="text-blue">WBE Certified</h5>
                        <p>Womens' Business Enterprise for Cook County, WBENC, BEP, WOSB.</p>
                     </div>
                    <div class="col-sm-6" data-animation="fadeInRight">
                        <h5 class="text-blue">Trained and Certified Technicians</h5>
                        <p>All technicians are A+ certified and manufacturer warranty repair authorized.</p>
                    </div>
                    <div class="col-sm-6" data-animation="fadeInRight">
                        <h5 class="text-blue">Flexibility</h5>
                       <p> Both technology and business goals are ever changing. Working within budget and IT best practices, our staff builds solutions for ready for tomorrow.</p>
                     </div>
                </div>
            </div>
        </div>
   <!--    <div class="clearfix"></div>-->
    </div>
</section>
<section id="services" class="page-section">
    <div class="image-bg content-in fixed" data-background="img/clients/laneTechLab.jpg">
        <div class="overlay-dark"></div>
    </div>
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title white">Advotek Services and Expertise</h2>
            <div class="row pad-20 text-white">
                <div class="item-box col-sm-4" data-animation="fadeInLeft">
                    <h5 class="title">
                        TECHNICAL SOURCING
                    </h5>
                    <p>Staging</p>
                    <p>Deployment & imaging of IT services</p>
                    <p>Network configuration, installation</p>
                    <p>Computer system rollout</p>
                    <p>Build / deploy client requested image</p>
                    <p>Project Management Implementation</p>
                    <p>Computer system upgrades</p>
                    <p>Break/Fix services</p>
                    <p>
                        Authorized warranty service repair center -
                        HP, IBM Lenovo, Apple, Brother, Lexmark, and some warranty for Dell
                    </p>
                </div>
                <div class="item-box col-sm-4" data-animation="fadeInUp">
                    <h5 class="title">
                        SMALL BUSNIESS VALUE 
                    </h5>
                    <p>Consult, design and build a high-performance network </p>
                    <p>Relocating computer equipment to another facility </p>
                    <p>Technology equipment warehosing</p>
                    <p>Asset Management</p>
                    <p>Custom hardware configuration</p>
                    <p>Provision image deployment</p>
                    <p>Printer repair / maintenance</p>
                    <p>Desktop, laptop repair & maintenance</p>
                    <p>Custom hardware configuration</p>                  
                </div>
                <div class="item-box col-sm-4" data-animation="fadeInRight">
                    <h5 class="title">
                        MANAGED IT SERVICES
                    </h5>
                    <p>Deskside Support, and Project Management allow companies to focus their business, while Advotek secures their technology.</p>
                    <p>System location, system status, serial numbers</p>
                    <p>List of software on systems accurately documented</p>
                    <p>Proactively and securely update, backup, and manage all of our clients' computers and servers</p>
                   

                </div>
            </div>            
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<section id="edu-prime" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Education - Prime Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="~/HPK12Education" class="black"><img src="~/img/hp-logo-1.png" />HP K12 Education</a>
                    

                </div>
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-27.jpg" alt="CPS Dirksen Building" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Laptops</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract with Chicago Public Schools (CPS) for 5 years to sell, custom configure, install and warranty repair  HP, Acer and IBM laptops.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-29.jpg" alt="Chicago Elementary School" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Field Support Services Vendor</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Prime contract for technology support in approximately 200 schools, including break/fix for the past 9 years.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-23.jpg" alt="Apple Laptop" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Brooks School - Apple Project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installing Virtual Box on Apple laptops for certification training in a Windows environment.  Insuring students can sign in with their own accounts rather than generic accounts.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-07.jpg" alt="E-Rate Server" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">E-Rate server roll out</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sold, configured and installed E-Rate servers with installation at multiple locations. Reported all documentation and forms required by USAC.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-30.jpg" alt="HP and Dell Servers" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Distribution Servers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Held two 5 year contracts for HP and Dell server sales and installation.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="edu-sub" class="page-section light-bg">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Education - Sub Contracts</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image  black-bg">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-22.jpg" alt="Disribution Servers" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Distribution server </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Rolled out 600 distribution servers at 600 locations, removed old servers and stored them at our location within 7 weeks.  Finished the project two weeks ahead of schedule and under our internal budget.  Completed all required documentation on a daily basis using Google Docs.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-09.jpg" alt="Security Servers" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Security Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Configure and install in rack up to four security servers in CPS schools, worked with other vendors on timing for this project.</p>
                             </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-26.jpg" alt="Dell CPS Servers" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Dell CPS Servers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installer of Dell servers in over 500 possible locations.  Receive equipment at our location and prep/config per end user before we deliver and install.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-06.jpg" alt="School technology moves" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">School moves</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Coordinated with Project Manager to move computer equipment either to another location or to a designated warehouse.  Did asset management on all equipment and reported back in requested format.</p>   
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-24.jpg" alt="Ricoh Printers" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Ricoh Printers </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Installed and configured Ricoh Printers at 500 possible locations.</p>
                             </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-13.jpg" alt="Chicago City Colleges" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">City Colleges </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sub contract for support services to their Technology Department at 6 of the City Colleges.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="~/img/clients/client-28.jpg" alt="Asset Management" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Asset Management </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Inventoried entire school's technology assets to meet 100% compliance.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="bus-clients" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInLeft">
            <h2 class="title text-blue">Small to Medium Business</h2>
        </div> <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30 top-margin-50" data-animation="pulse">
                <img src="~/img/sections/about/280x313.jpg" width="280" height="313" alt="Small business IT support" />
            </div>
            <div class="col-md-8" data-animation="fadeInRight">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title text-blue">Case Study - PEB project</h2>
                    <h5 class="text-blue">Advotek Optimized Today's Technology ....</h5>
                    <p>A small staffed financial business client required Advotek's technical expertise to install the best of today's IT hardware and software, and be flexible enough to stay current with technologies changes for the future. </p>
                </div>
                <div>
                    <p>Our solution:</p>
                    <ul class="list-style">
                        <li>
                            Configure static IP on network card and on ILO at the high range of network.
                        </li>
                        <li>Promote server to a domain controller and establish the PEB.local domain.</li>
                        <li>Create user accounts for the seven office employees.</li>
                        <li>Install LabTech agent for PEB on server.</li>
                        <li>Create administrative account for Advotek remote access.</li>
                        <li>Upgrade existing machines to Windows 7 Professional.</li>
                        <li>Join existing machines to domain.</li>
                        <li>Create existing share structure from Sue's machine to server.</li>
                        <li>Create appropriate security groups for access rights.</li>
                        <li>Configure the network scanner to scan to a shared folder on the server.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="clearfix"></div>-->
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <ul class="timeliner">
                    <li>
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-15.jpg" alt="LISC" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">LISC </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Advotek built and deployed master images with custom recovery partitions for a 1,400 netbook

                                    and desktop rollout.  By leveraging public domain and open source software, in addition to applications

                                    developed internally, Advotek was able to save the end company from purchasing $100,000 in licenses

                                    for cloning software that performed the same functions.  Created a custom database per client request.
                                </p>
                            </div>
                        </div>
                    </li>                    
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img width="200" height="200" class="img-circle" src="../img/clients/client-10.jpg" alt="Lulu Lemon" />
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Provider for Local Technical support for national contractors </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lulu Lemon and ASAP have prime service contracts in multiple states. They utilize Advotek’s services for this area.</p>
                             </div>
                        </div>
                    </li>
                   
                    
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="page-section hp-bg text-white">
    <div class="container">
        <div class="row">
            <div class="section-title" data-animation="fadeInLeft">
                <h2 class="title text-white">Contact</h2>
            </div>
            <img class="img-responsive img-center" src="~/img/clients/advotekOffice.jpg" alt="Advotek Office Building Location"/>
            <hr />
        </div> 
        <div class="row">
            <div class="col-sm-4">
                <div>
                    <h5 class="title"><i class="fa fa-map-marker"></i> Address</h5>
                    Advotek, Incorporated<br />
                    777 Oakmont Lane, Suite 50<br />
                    Westmont, IL 60559
                </div>
            </div>
            <div class="col-sm-4">
                <h5 class="title"><i class="fa fa-phone"></i> Phone</h5>
                <a href="tel:6309647762">phone: 630.964.7762</a><br />
                fax: 630.964.7858<br /><br />
                <h5 class="title"><i class="fa fa-envelope"></i> Email Address</h5>
                <a href="mailto:paula@advotek.biz">contact@advotek.biz</a>
            </div>
            <div class="col-sm-4">
                <h5 class="title"><i class="fa fa-comment-o"></i>Contact</h5>
                <div class="contact-form">
                    <form role="form" name="ContactForm" id="ContactForm" method="post" action="/Home/Contact">
                        <div class="input-text form-group">
                            <input type="text" id="Name" name="Name" class="input-name form-control white" placeholder="Name" />
                        </div>
                        <div class="input-text form-group">
                            <input type="email" id="ContactEmail" name="ContactEmail" class="input-email form-control white" placeholder="Your Email" />
                        </div>
                        <div class="input-text form-group">
                            <textarea id="ContactMessage" name="ContactMessage" class="input-text form-control white" maxlength="500" wrap="hard" placeholder="Message"></textarea>
                        </div>
                        <div class="input-text form-group">
                            <input type="submit" class="btn btn-default btn-block text-right" value="Send Message" />
                        </div>
                    </form>                 
                </div>
            </div>
        </div>
   </div>            
</section>

    

